<div class="fixed bg-white" style="width:100%; z-index: 9999">
  <div class="container">
    <div class="clearfix">
      <div class="col col-12 px2">
        <div class="flex flex-center">
          <div class="flex flex-auto">
            <%= link_to root_path do
              image_tag("riomaisb.png", class: "left py1", width: 150)
            end %>
          </div>
          <div class="right topbar">
            <div class="md-show">
              <div class="flex flex-center">
                <a class="black caps h5 p2 regular decoration-none" href="#what">O que é o Rio+B?</a>
                <a class="black caps h5 p2 regular decoration-none" href="#benefits">Por que participar?</a>
                <a class="black caps h5 p2 regular decoration-none" href="#how-it-works">O que acontece?</a>
                <a class="black caps h5 p2 regular decoration-none" href="#join">Como participar?</a>
                <a class="black caps h5 p2 regular decoration-none" href="#who">Quem somos</a>
                <a class="green caps h5 p2 regular decoration-none" href="<%= asset_url('faq.pdf') %>" target="_blank">FAQ</a>
                <a class="black h1 ml1 mr1" href="https://twitter.com/RiomaisB" target="_blank">
                  <i class="fa fa-twitter-square circle" aria-hidden="true"></i>
                </a>
                <a class="black h1" href="https://www.facebook.com/RiomaisB/?fref=ts" target="_blank">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="md-hide">
              <div class="relative inline-block dropdown" data-disclosure>
                <button class="btn rounded fa fa-bars"></button>
                <div data-details class="fixed top-0 right-0 bottom-0 left-0 dropdown-overlay"></div>
                <div data-details class="absolute right-0 mt2 nowrap bg-white rounded dropdown-menu">
                  <a class="black caps h5 p2 block regular" href="#what">O que é o Rio+B?</a>
                  <a class="black caps h5 p2 block regular" href="#benefits">Por que participar?</a>
                  <a class="black caps h5 p2 block regular" href="#how-it-works">O que acontece?</a>
                  <a class="black caps h5 p2 block regular" href="#join">Como participar?</a>
                  <a class="black caps h5 p2 block regular" href="#who">Quem somos</a>
                  <a class="black caps h5 p2 block regular" href="<%= asset_url('faq.pdf') %>" target="_blank">FAQ</a>
                  <a class="black h1 m2" href="https://twitter.com/RiomaisB" target="_blank">
                    <i class="fa fa-twitter-square circle" aria-hidden="true"></i>
                  </a>
                  <a class="black h1" href="https://www.facebook.com/RiomaisB/?fref=ts" target="_blank">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="bg-green py4 bg-cover bg-center"
  style="background-image: url(<%= image_url("bg4.jpg") %>)">
  <div class="container center white mt4">
    <div class="clearfix">
      <div class="col col-12 px2">
        <h2 class="mt0 mb2 caps">
          Você conhece o impacto socioambiental<br />
          da sua empresa na cidade e para as pessoas?
        </h2>
        <h3 class="mb3 regular">
          Junte-se a nós e construa melhores<br />
          negócios para um rio de janeiro melhor!
        </h3>
        <p>
          Preencha a Avaliação de Impacto Rio+B<br />
          e descubra novas oportunidades de negócios
        </p>
        <a
          class="btn btn-primary bg-lime green white caps h2 m0 p2 px4 mb2"
          target="_blank"
          href="https://beta.bimpactassessment.net/get-started/partner/riob">
          Participar
        </a>
        <br />
        Todo o processo é gratuito, online e sigiloso
      </div>
    </div>
  </div>
</div>

<div class="container py4" id="what">
  <div class="clearfix">
    <div class="col col-12 sm-col-8 md-col-6 px2">
      <h2 class="green caps mt0 mb2 border-bottom border-green">O que é o Rio+B?</h2>
      <p>
        O Rio+B é um projeto que incentiva empresas e redes de negócios a avaliarem e tomarem consciência de seu impacto socioambiental visando engajar a iniciativa privada na agenda de sustentabilidade da cidade do Rio de Janeiro. Realizado pelo <a href="http://www.sistemab.org/br/inicio" target="_blank">Sistema B</a>, o projeto faz uso de ferramentas mundialmente reconhecidas, gratuitas e online, para avaliação de impacto socioambiental nas empresas.
      </p>
      <p>
        Em parceria com o <a href="http://resiliente.rio/" target="_blank">Rio Resiliente</a>, da Prefeitura do Rio e a <a href="http://www.ellenmacarthurfoundation.org/" target="_blank">Fundação Ellen MacArthur</a> (Think Tank líder global no conceito de economia circular), entre outras entidades focadas em desenvolvimento econômico, irá convidar as empresas da região metropolitana do Rio de Janeiro a avaliarem seu impacto socioambiental e implementarem uma agenda de melhoria para a cidade através dos negócios.
      </p>
      <%= toggle_button "what-more" %>
      <div id="what-more" class="hide">
        <p>
          O Sistema B é a ONG que lidera o movimento global de empresas B na América Latina, com o objetivo de redefinir o conceito de sucesso nos negócios, para que esse seja medido não só pelo lucro, mas também pelo impacto socioambiental positivo gerado por elas.
        </p>
        <p>
          Na Avaliação de Impato Rio+B, as empresas responderão a um breve questionário de 40 perguntas, em 5 áreas: Governança, Trabalhadores, Comunidade, Meio Ambiente e Modelo de Negócio. Pela primeira vez, numa parceria inédita entre Sistema B e Ellen MacArthur Foundation, o questionário será acrescido dos Indicadores de Circularidade. Todos os dados são sigilosos e só serão publicados desidentificados.
        </p>
        <p>
          O projeto prevê ainda a realização do Laboratório Rio+B, nele, durante 6 meses, um grupo de 40 empresas serão acompanhadas no desenvolvimento de um plano de ação capaz de intensificar seus impactos positivos dentro da região metropolitana do Rio de Janeiro.
        </p>
      </div>
    </div>
    <div class="col col-12 sm-col-4 md-col-6 px2 center">
      <%= image_tag("oqueehriomaisb.jpg", class: "circle") %>
    </div>
  </div>
</div>

<div class="bg-dark-green py4 white" id="benefits">
  <div class="container">
    <div class="clearfix">
      <div class="col col-12 px2">
        <h2 class="caps mt0 mb3 border-bottom center green border-green">Por que participar?</h2>
        <div class="clearfix mb3">
          <div class="sm-col-12 md-col-7 mx-auto">
            <%= image_tag 'icones_texto-01.png', class: "col xs-col-12 sm-col-3 lg-col-4 px3" %>
            <%= image_tag 'icones_texto-02.png', class: "col xs-col-12 sm-col-3 lg-col-4 px3" %>
            <%= image_tag 'icones_texto-03.png', class: "col xs-col-12 sm-col-3 lg-col-4 px3" %>
          </div>
        </div>
        <p>
          O Rio+B é gratuito, online e sigiloso.
        </p>
        <p>
          O preenchimento da Avaliação é uma oportunidade para conhecer o impacto socioambiental do seu negócio. Conhecer melhor suas práticas socioambientais pode ajudar a sua empresa a ser mais eficiente e a otimizar recursos. Ter melhores práticas é um dos modos mais eficientes de reter talentos e de atrair investimentos.
        </p>
        <p>
          Participar do Rio+B é um modo de descobrir novas formas de geração de valor e inovação nos negócios, destacando-se frente ao mercado tradicional pela mensuração e gestão do impacto socioambiental de sua empresa.
        </p>
        <p>
          Para as pessoas que, representando suas organizações, se engajarem no Laboratório Rio+B, este será um processo de conexão e desenvolvimento pessoal que trará consequências pessoais e profissionais para os envolvidos.
        </p>
        <%= toggle_button "benefits-more", class: 'white regular btn' %>
        <div class="hide" id="benefits-more">
          <p>
            O Rio+B, em sua Avaliação de Impacto, faz uso de tecnologia mundialmente reconhecida para mensuração de Impacto socioambiental. A mesma Avaliação de Impacto já foi utilizada por mais de 40 mil empresas em todo o mundo e vem sendo aprimorada nos últimos 10 anos. Esta tecnologia irá permitir que as empresas respondentes recebam um comparativo de seu desempenho em cada um dos pontos abordados (benchmarking) em relação às outras  empresas que já responderam ao questionário e às empresas da região metropolitana do Rio de Janeiro engajadas no Rio+B.
          </p>
          <p>
            O Rio+B nasce como um movimento, o engajamento por parte das empresas é, portanto, diferenciado. Fazer parte de um movimento de vanguarda significa liderar o processo de transição para melhores negócios, significa ser agente de transformação, comunicação e relacionamento em uma rede que troca experiências e faz negócios de forma pré competitiva visando a lucratividade de todos os envolvidos e uma agenda de melhoria de Impacto Positivo para a cidade do Rio de Janeiro.
          </p>
          <p>
            O Rio+B, tendo como parceiro a Prefeitura do Rio de Janeiro, através do Rio Resiliente, pretende melhorar a relação da Cidade com as empresas locais, mapear indicadores de impacto socioambiental das empresas para fins de compras e políticas públicas, além de dar maior visibilidade ao setor empresarial carioca como promotor de uma transformação para uma economia mais resiliente;
          </p>
          <p>
            Ser resiliente significa ter maiores condições para sobreviver a grandes alterações em seus sistema, significa fazer ajustes em modelos de negócios e em ciclos de produto, significa economizar recursos e fazer bom uso de resíduos, significa construir juntos um Rio de Janeiro melhor.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py4" id="how-it-works">
  <div class="clearfix">
    <div class="col col-12 sm-col-8 md-col-6 px2">
      <h2 class="purple border-bottom border-purple caps mt0 mb2">O que acontece?</h2>
      <p>
        A Avaliação de Impacto Rio+B é sigilosa, gratuita e online. Ela é resultado da soma da ferramenta Quick Impact Assessment (Sistema B) e dos Indicadores de Circularidade (Ellen Macarthur Foundation);
      </p>
      <p>
        Para participar, a empresa deve se cadastrar e preencher a Avaliação de Impacto Rio+B, compartilhando informações verdadeiras sobre suas práticas socioambientais. Veja abaixo o cronograma do projeto e as formas de participação.
      </p>
      <p>
        Inicialmente, todas as empresas respondentes farão parte da Rede Rio+B. Os dados das empresas são sigilosos e só serão divulgados enquanto estatísticas do Rio+B, nunca citando as empresas.
      </p>
      <p>
        No final do preenchimento da Avaliação de Impacto Rio+B, o respondente receberá um email em que será perguntando se tem interesse em continuar este percurso fazendo parte do Laboratório Rio+B. Caso a empresa demonstre interesse, ela pode ser convidada a fazer parte se comprometendo a traçar um plano de trabalho, participar dos encontros presenciais ao longo de 6 meses e se empenhar em realizar alguma melhoria de impacto socioambiental. No fim do percurso a empresa preenche novamente a Avaliação de Impacto Rio+B para medir a melhoria durante a participação do Laboratório Rio+B. Os dados das empresas são sigilosos e só serão divulgados enquanto estatísticas do Lab Rio+B, nunca citando a sua empresa.
      </p>
      <p>
        O projeto Rio+B tem inicio em setembro de 2016, com o preenchimento da Avaliação de Impacto Rio+B. O Lab Rio+B dura de Novembro de 2016 a Maio de 2017.
      </p>
      <p>
        <a
          class="btn btn-primary bg-gray black block regular"
          target="_blank"
          href="<%= asset_url('cronograma.pdf') %>">
          <i class="fa fa-calendar mr1" aria-hidden="true"></i>
          Cronograma
          <i class="fa fa-file-pdf-o right" aria-hidden="true"></i>
        </a>
      </p>
    </div>
    <div class="col col-12 sm-col-4 md-col-6 px2">
      <%= image_tag("participar.jpg", class: "circle") %>
    </div>
  </div>
</div>

<div class="bg-green py4 white" id="join">
  <div class="container clearfix">
    <div class="col col-12 px2 mx-auto">
      <h2 class="caps mt0 mb2 dark-green border-bottom border-dark-green center">Como participar?</h2>
      <p>Podem participar do Rio+B todas as empresas com sede e/ou operação na região metropolitana e na cidade do Rio de Janeiro. Não há restrição de porte, número de funcionários, faturamento ou setor em que atuam.</p>
      <p>Todas participarão do preenchimento da avaliação e formarão a Rede RIO+B, para troca de conhecimento e multiplicação de experiências. De todas as empresas respondentes, serão selecionadas 40 empresas para o Laboratório Rio+B. Esta seleção será feita espelhando a massa de respondentes. Todas as empresas que aceitarem fazer parte do Lab Rio+B, deverão entregar um Termo de Compromisso assinado pela direção da empresa declarando ciência e anuência para o compromisso de implementar melhorias de impacto socioambiental em um período de seis meses, voltando a autoavaliar-se ao final do processo.</p>
    </div>
  </div>
  <div class="container clearfix">
    <div class="col col-12 px2 sm-col-6 mb4">
      <div class="h3 bold">Rede RIO+B</div>
      <div class="mb2"><strong>500</strong> empresas respondentes</div>
      <div><strong>Avaliação de Impacto Rio+B online</strong></div>
      <div>Quick Impact Assessment (Sistema B)</div>
      <div>+ Indicadores de Economia Circular (Ellen Macarthur Foundation)</div>
    </div>
    <div class="col col-12 px2 sm-col-6 mb4">
      <div class="h3 bold">Laboratório Rio+B</div>
      <div class="mb2"><strong>40</strong> empresas</div>
      <div><strong>6 meses e 4 workshops presenciais</strong></div>
      <div>Assinatura Termo de Compromisso Empresa</div>
      <div>Melhoria de Impacto Socioambiental</div>
    </div>
  </div>
  <div class="container clearfix center">
    <div class="col col-12 px2 mx-auto">
      <a
        class="btn btn-primary bg-lime green caps h2 m0 p2 px4 mt2"
        target="_blank"
        href="https://beta.bimpactassessment.net/get-started/partner/riob">
        Participar
      </a>
    </div>
  </div>
</div>

<div class="container py3 clearfix" id="who">
  <div class="col col-12 px2">
    <h2 class="green">Quem somos</h2>
    <p>
      O Rio+B é uma realização do <a href="http://www.sistemab.org/br/inicio" target="_blank">Sistema B</a> e foi concebido em colaboração com muitas organizações. São elas: a Prefeitura do Rio de Janeiro, através do <a href="http://resiliente.rio/" target="_blank">Rio Resiliente</a>,  a <a href="http://www.ellenmacarthurfoundation.org/pt/fundacao-ellen-macarthur/a-fundacao" target="_blank">Ellen MacArthur Foundation</a>, o maior think tank do mundo de Economia Circular, a <a href="http://www.leagueofintrapreneurs.com/" target="_blank">The League of Intrapreneurs</a>, organização internacional que trabalha na identificação e empoderamento de intraempreendedores mais conscientes e ativos em suas organizações, a <a href="http://www.pares.etc.br/" target="_blank">Pares</a>, consultoria em estratégia, inovação e desenvolvimento organizacional sistêmico, o Pacto do Rio, um conjunto de compromissos articulados que busca alinhar os objetivos da população com os diversos setores da sociedade, e a <a href="http://www.nobullshit.com.br/" target="_blank">NBS</a>, agência de comunicação com longa trajetória em projetos de impacto. Tudo isto foi possível graças à parceria da <a href="http://www.caf.com/pt" target="_blank">CAF, Banco de Desenvolvimento da América Latina</a> e da <a href="http://www.bmw-stiftung.de/en/" target="_blank">BMW Foundation</a>, que tem como prioridade o apoio à inovação social.
    </p>
    <p>
      O Rio+B conta ainda com o apoio de pessoas físicas que acreditam no poder do impacto positivo gerado pela iniciativa privada. No começo foram Claudia Lima, Denise Chaer, Marcos Simões, Ramon Marmolejos e Zoe Fitzgerald.
    </p>
    <p>
      Todas as imagens utilizadas pelo projeto foram gentilmente cedidas por Pietro Baroni.
    </p>
    <p>
      Em caso de dúvidas sobre o projeto, você pode escrever para o email <a href="mailto:duvidas@riomaisb.org.br">duvidas@riomaisb.org.br</a>, mas antes de entrar em contato, por favor leia o <a href="<%= asset_url('faq.pdf') %>" target="_blank">documento de perguntas frequentes</a> (FAQ).
    </p>
    <p>
      Hoje temos um grupo de trabalho ativo e voluntário que opera em governança horizontal e que constitui o grupo de pessoas que sustentam o Rio+B. A elas o nosso muito obrigada pela rede de confiança tecida em torno de um propósito. São elas: Alda Marina Campos, Aline Pimenta, Ana Sarkovas, Anna Polatscheck, Camila Matos, Daniella Gobbo, Florencia Estrade, Luciana Nery, Luísa Santiago, Luiza Serpa, Paula Quintas, Pedro Junqueira, Sandra Ortiz-Diaz, Taciana Abreu, Thaís Miquelino e Ursulla Araújo.
    </p>
    <p>
      Para entrar em contato com os líderes do projeto, você pode escrever para  <a href="mailto:contato@riomaisb.org.br">contato@riomaisb.org.br</a>. Em caso de dúvidas sobre o projeto, você pode escrever para o email duvidas@riomaisb.org.br, mas antes de entrar em contato, por favor leia o documento de perguntas frequentes.
    </p>
    <p>
      Se você for da imprensa, <%= link_to "baixe aqui o release", asset_url('release.pdf'), target: :blank %> do Projeto. Caso tenha interesse em realizar alguma matéria, não hesite em escrever para <a href="mailto:imprensa@riomaisb.org.br">imprensa@riomaisb.org.br</a>.
    </p>
  </div>
</div>

<div class="container py3 clearfix">
  <div class="col col-12 sm-col-12 md-col-2 px2 mb3">
    <h5 class="gray">Realização</h5>
    <div class="clearfix">
      <a href="http://www.sistemab.org/br/inicio" target="_blank">
        <%= image_tag "logos/realiza/LOGO_sq_sistema_B.png", class: "col col-4 sm-col-4 md-col-12" %>
      </a>
    </div>
  </div>
  <div class="col col-12 sm-col-12 md-col-10 px2 mb3">
    <h5 class="gray">Concepção</h4>
    <div class="clearfix">
      <a href="http://resiliente.rio/" target="_blank">
        <%= image_tag "logos/concepcao/LOGO_sq_rioresiliente.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
      <a href="https://www.ellenmacarthurfoundation.org/ce100" target="_blank">
        <%= image_tag "logos/concepcao/LOGO_sq_Ce100_Ellen.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
      <a href="http://www.leagueofintrapreneurs.com/" target="_blank">
        <%= image_tag "logos/concepcao/LOGO_sq_league.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
      <a href="http://www.pares.etc.br/" target="_blank">
        <%= image_tag "logos/concepcao/LOGO_sq_pares.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
      <a href="http://www.pactodorio.com.br/" target="_blank">
        <%= image_tag "logos/concepcao/LOGO_sq_pactodorio.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
      <a href="http://www.nobullshit.com.br/" target="_blank">
        <%= image_tag "logos/concepcao/LOGO_sq_nbs.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
    </div>
  </div>
  <div class="col col-12 px2 mb3">
    <h5 class="gray">Parceiros estratégicos</h4>
    <div class="clearfix">
      <a href="http://www.bmw-stiftung.de/en/" target="_blank">
        <%= image_tag "logos/parceiros_estrategicos/LOGO_hz_BMW_found.png", class: "col col-4 sm-col-4 md-col-3 px1" %>
      </a>
      <a href="http://www.caf.com/pt/paises/brasil/" target="_blank">
        <%= image_tag "logos/parceiros_estrategicos/LOGO_hz_CAF.png", class: "col col-4 sm-col-4 md-col-3 px1" %>
      </a>
    </div>
  </div>
  <div class="col col-12 px2 mb3">
    <h5 class="gray">Organizações empresariais</h4>
    <div class="clearfix">
      <a href="http://www.sebrae.com.br/sites/PortalSebrae/ufs/rj?codUf=20" target="_blank">
        <%= image_tag "logos/organizacoes/LOGO_sq_SEBRAE.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
      <a href="http://cebds.org/" target="_blank">
        <%= image_tag "logos/organizacoes/LOGO_sq_CEBDS.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
      <a href="http://rio-negocios.com/" target="_blank">
        <%= image_tag "logos/organizacoes/LOGO_sq_rionegocios.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
      <a href="http://www.acrio.rio/" target="_blank">
        <%= image_tag "logos/organizacoes/LOGO_sq_ACRIO.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
      <a href="http://goma.org.br/" target="_blank">
        <%= image_tag "logos/organizacoes/Logo_GOMA_cor0.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
    </div>
  </div>
  <div class="col col-12 px2">
    <h5 class="gray">Parceiros de engajamento</h4>
    <div class="clearfix">
      <a href="http://institutophi.org.br/" target="_blank">
        <%= image_tag "logos/parceiros_engajamento/LOGO_sq_phi.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
      <a href="http://www.carioteca.com.br/" target="_blank">
        <%= image_tag "logos/parceiros_engajamento/LOGO_sq_carioteca.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
      <a href="http://casafluminense.org.br/" target="_blank">
        <%= image_tag "logos/parceiros_engajamento/LOGO_sq_casafluminense.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
      <a href="http://www.rioeuamoeucuido.com.br/" target="_blank">
        <%= image_tag "logos/parceiros_engajamento/LOGO_sq_rioamocuido.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
      <a href="http://www.cieds.org.br/" target="_blank">
        <%= image_tag "logos/parceiros_engajamento/CIEDS_1cor.png", class: "col col-4 sm-col-4 md-col-2" %>
      </a>
    </div>
  </div>
</div>

<div class="container py4">
  <div class="clearfix">
    <div class="sm-col-12 md-col-6 px2 mx-auto center">
      <h2 class="green caps mt0 mb3">Atualizações e novidades</h2>
      <a
        data-chrome="nofooter noborders noheader"
        class="twitter-timeline"
        href="https://twitter.com/RiomaisB"
        data-tweet-limit="3">
        Tweets by RiomaisB
      </a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>

<footer class="bg-black py4">
</footer>
