<div class="fixed bg-white" style="width:100%">
  <div class="container">
    <div class="clearfix">
      <div class="col col-12 px2">
        <div class="flex flex-center">
          <div class="flex flex-auto">
            <%= link_to root_path do
              image_tag("riomaisb.png", class: "left py1", width: 80)
            end %>
          </div>
          <div class="right">
            <div class="md-show">
              <div class="flex flex-center">
                <a class="btn btn-primary bg-white black caps h5 py2 regular" href="#what">O que é o Rio+B?</a>
                <a class="btn btn-primary bg-white black caps h5 py2 regular" href="#benefits">O que a empresa e a cidade ganham?</a>
                <a class="btn btn-primary bg-white black caps h5 py2 regular" href="#how-it-works">Como funciona?</a>
                <a class="black h1 ml1 mr1" href="https://twitter.com/RiomaisB">
                  <i class="fa fa-twitter-square circle" aria-hidden="true"></i>
                </a>
                <a class="black h1" href="https://www.facebook.com/RiomaisB/?fref=ts">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="md-hide">
              <div class="relative inline-block dropdown" data-disclosure>
                <button class="btn rounded fa fa-bars"></button>
                <div data-details class="fixed top-0 right-0 bottom-0 left-0 dropdown-overlay"></div>
                <div data-details class="absolute right-0 mt2 nowrap bg-white rounded dropdown-menu">
                  <a class="btn btn-primary bg-white black caps h5 py2 px0 block regular" href="#what">O que é o Rio+B?</a>
                  <a class="btn btn-primary bg-white black caps h5 py2 px0 block regular" href="#benefits">O que a empresa e a cidade ganham?</a>
                  <a class="btn btn-primary bg-white black caps h5 py2 px0 block regular" href="#how-it-works">Como funciona?</a>
                  <a class="black h1 m2" href="https://twitter.com/RiomaisB">
                    <i class="fa fa-twitter-square circle" aria-hidden="true"></i>
                  </a>
                  <a class="black h1" href="https://www.facebook.com/RiomaisB/?fref=ts">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-green py4 bg-cover bg-center bg-city">
  <div class="container center white mt4">
    <div class="clearfix">
      <div class="col col-12 px2">
        <h1 class="mt0 mb2 caps">
          Is your business among the Best in NYC?<br />
          Join us in becoming the Best for NYC!
        </h1>
        <div>Take the Best for NYC Challenge</div>
        <div>Improve your business’s impact</div>
        <div>Be recognized as “Competing to be Best for NYC”</div>
        <div class="mt3">
          <a class="btn btn-primary bg-green white caps h3 m0 p2 px4" href="#">Participar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py4" id="what">
  <div class="clearfix">
    <div class="col col-12 sm-col-12 md-col-6 px2">
      <h2 class="green caps mt0 mb2">O que é o Rio+B?</h2>
      <p>
        O <strong>Rio+B</strong> é um programa que incentiva empresas e redes de negócios a gerar
        impactos positivos para a cidade do Rio de Janeiro. A iniciativa é uma
        parceria entre a Prefeitura do Rio, através do Rio Resiliente, o
        Sistema B e a The League of Intrapreneurs.
      </p>
      <p>
        O primeiro ciclo do programa terá duração de um ano, entre agosto de
        2015 e agosto de 2016, e será divido em avaliação da empresa e do setor,
        análise de dados, diagnóstico de impactos e o plano de ações. Dentro do
        programa, líderes de empresas irão se reunir e conciliar a agenda dos
        seus negócios com as ferramentas estratégicas para alcançar os resultados
        planejados.
      </p>
    </div>
    <div class="col col-12 sm-col-12 md-col-6 px2 center">
      <%= image_tag("riomaisb-info.png") %>
    </div>
  </div>
</div>

<div class="bg-green py4 white" id="benefits">
  <div class="container">
    <div class="clearfix">
      <div class="col col-12 sm-col-12 md-col-6 px2 center">
        <p>
          <%= image_tag("rio.png") %>
        </p>
      </div>
      <div class="col col-12 sm-col-12 md-col-6 px2">
        <h2 class="caps mt0 mb2">O que a empresa e a cidade ganham com o Rio+B?</h2>
        <p>
          Ao redor do mundo, cada vez mais empresas estão redefinindo o conceito de sucesso em seus
          negócios. O sucesso empresarial não é visto apenas como um empreendimento lucrativo, mas
          também em impactos socioambientais positivos gerados pelas empresas.
        </p>
        <p>
          O Rio+B conta com metodologias para medir o impacto socioambiental de um negócio e
          ferramentas para planejar melhores práticas em áreas específicas. Através do programa, as
          empresas terão consultoria para fortalecer seus pontos positivos e transformar os pontos
          negativos em benefícios para o Rio de Janeiro.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container py4" id="how-it-works">
  <div class="clearfix">
    <div class="sm-col-12 md-col-8 px2 mx-auto center">
      <h2 class="green caps mt0 mb2">Como funciona o programa?</h2>
      <p>
        As empresas respondem a um questionário online que identifica os impactos negativos e
        positivos do negócio. Para a análise, é usada a Avaliação de Impacto Rápido, metodologia
        mundialmente reconhecida para medir o impacto do empreendimento nas áreas de
        comunidade, meio ambiente, funcionários, governança e modelo de negócio.
      </p>
      <p><%= image_tag "how-it-work-1.png" %></p>
      <p>
        Em seguida, é feita a análise dos dados da primeira etapa e um mapeamento completo da
        empresa, baseado nas ferramentas de análise do Sistema B. A partir daí, são apontados os
        pontos críticos da empresa ou setor e é desenvolvido um plano de trabalho dos pontos
        negativos, em colaboração entre os participantes, com metas e prazos definidos.
      </p>
      <p><%= image_tag "how-it-work-2.png" %></p>
    </div>
  </div>
</div>

<div class="bg-green py4 white">
  <div class="sm-col-12 md-col-8 px2 mx-auto center">
    <h2 class="caps mt0 mb2">Como participar?</h2>
    <p class="mb3">
      Basta se inscrever aqui no site e responder ao questionário da Avaliação de Impacto Rápido.
    </p>
    <a class="btn btn-primary bg-green white caps h3 m0 p2 px4" href="#">Participar</a>
  </div>
</div>

<div class="container py4">
  <div class="clearfix">
    <div class="sm-col-12 md-col-8 px2 mx-auto center">
      <h2 class="green caps mt0 mb3">Atualizações e novidades</h2>
      <a class="twitter-timeline" href="https://twitter.com/nicolasiensen" data-widget-id="636355297804742656">Tweets by @nicolasiensen</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>

<footer class="bg-black py4">
</footer>
